.copyright {
    margin-top: 38px;
    padding: 17px 0px;
    background-color: #FF7B7A;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #E6110B;
}
