<nav class="navbar ">
    <div class="topnav">
        <div class="navbar">
            <div class="logo">
                <a class="navbar-brand"style="padding-right: 10px 5px;" >ZEDSMS <span>TECHNOLOGIES</span></a>          
            </div>
            <ul class="d-flex md-lg-13">
                <li><a routerLink="" >Home</a></li>
                <li><a routerLink="" >About</a></li>
                <li><a routerLink="" >Service</a></li>
                <li><a routerLink="" >Features</a></li>
                <li><a routerLink="" >Zoho</a></li>
            </ul>
        </div>
    </div>
</nav>