<div class="contact-box">
    <div class="contac-ic-box">
        
        <div class="sol-box" >
            <h2>GET IN Touch</h2>
            <p></p>
            <br/>

            <form class="form-box">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Name" aria-label="Username">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Server">
                </div>
                
                <div class="input-group">
                  <span class="input-group-text">With textarea</span>
                  <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <br>
                <button mat-raised-button class="Get-in-a-button" style="background-color: #ff7b7a; margin-right: 20px;">Contact Us</button>
            </form>
        </div>
    </div>
</div>