

<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="slide-left" style="animation: slideleft 1.5s linear forwards;">
                About Us
              </h2>
            </div>
            
            <p class="slide-left" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus tortor nisl, in pulvinar nunc tempor at. Nunc non facilisis massa. Nulla mattis, felis id pellentesque finibus, augue enim porttitor neque, ut accumsan purus mi sit amet est. Cras in commodo nisl. Sed in porttitor orci. Nullam lacinia nisl justo, et elementum justo maximus sit amet. Quisque varius orci malesuada augue mollis malesuada. Phasellus congue, sapien sit amet facilisis facilisis, felis velit bibendum est, a tincidunt quam massa non est. Mauris a mauris rhoncus, bibendum sem quis, laoreet dui. Maecenas efficitur tortor et odio aliquam, a fringilla nunc vestibulum. Nunc eu elementum tellus. Phasellus hendrerit sapien id elit mollis pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                Sed posuere lectus a suscipit tincidunt. Vestibulum iaculis est sit amet enim vehicula viverra. Morbi fringilla libero metus, non feugiat ligula aliquam at. Sed nec dolor lectus. Curabitur ac tristique magna. Ut in ante nibh. Quisque accumsan vehicula purus at porttitor. Proin scelerisque sem justo, nec blandit lectus scelerisque eget. Etiam felis lorem, hendrerit id condimentum vel, rutrum sit amet lectus. Phasellus cursus felis augue, quis placerat turpis ultricies in. Suspendisse rhoncus vel orci id venenatis. Vivamus pulvinar a urna quis sollicitudin. Aenean eu suscipit nunc, vel mattis urna. Suspendisse vestibulum tempor enim. Nam sed sem malesuada massa aliquam dignissim. Sed id nulla vitae ligula sagittis pharetra at ut ex.
            </p>

            <div class="links slide-left">
                <a routerLink="" style="color: #faf9fa;">
                 Read More
                </a>   
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
